{% extends "layout.html" %}
{% block content %}
<MAIN class="index">
  <DIV class="container">
    <DIV class="row">
      <div class="buttons item-search-button-active" data-action="animated">
	<button class="item-search">
	  <span class="item-search-link item-search-button-active" data-action="animated">Item Search</span>
	  <span class="item-search-underline item-search-button-active" data-action="animated"></span>
	</button>
	<button class="item-lookup">
	  <span class="item-lookup-link item-search-button-active" data-action="animated">Item Lookup</span>
	  <span class="item-lookup-underline item-search-button-active" data-action="animated"></span>
	</button>
      </div>
      <div class="forms">
	<form class="item-search-form item-search-button-active" action="#" method="post" data-action="animated">
	  <fieldset>
	    <legend>Item Search form.  Please enter at least a Brand or keywords.</legend>
	    <label for="keywords">Keywords (comma separated)</label>
	    <input id="keywords"
		   type="text"
		   name="keywords"
		   placeholder="e.g. Mirrorless Camera, Fujifilm">
	    <label for="brand">Brand</label>
	    <input id="brand"
		   type="text"
		   name="brand"
		   placeholder="e.g. Lacoste">
	    <label for="search-index">Search Index</label>
	    <select id="search-index"
		    name="search-index">
	      <option value="">None</option>
	      <option value="All">All</option>
	      <option value="Wine">Wine</option>
	      <option value="Wireless">Wireless</option>
	      <option value="ArtsAndCrafts">ArtsAndCrafts</option>
	      <option value="Miscellaneous">Miscellaneous</option>
	      <option value="Electronics">Electronics</option>
	      <option value="Jewelry">Jewelry</option>
	      <option value="MobileApps">MobileApps</option>
	      <option value="Photo">Photo</option>
	      <option value="Shoes">Shoes</option>
	      <option value="KindleStore">KindleStore</option>
	      <option value="Automotive">Automotive</option>
	      <option value="Vehicles">Vehicles</option>
	      <option value="Pantry">Pantry</option>
	      <option value="MusicalInstruments">MusicalInstruments</option>
	      <option value="DigitalMusic">DigitalMusic</option>
	      <option value="GiftCards">GiftCards</option>
	      <option value="FashionBaby">FashionBaby</option>
	      <option value="FashionGirls">FashionGirls</option>
	      <option value="GourmetFood">GourmetFood</option>
	      <option value="HomeGarden">HomeGarden</option>
	      <option value="MusicTracks">MusicTracks</option>
	      <option value="UnboxVideo">UnboxVideo</option>
	      <option value="FashionWomen">FashionWomen</option>
	      <option value="VideoGames">VideoGames</option>
	      <option value="FashionMen">FashionMen</option>
	      <option value="Kitchen">Kitchen</option>
	      <option value="Video">Video</option>
	      <option value="Software">Software</option>
	      <option value="Beauty">Beauty</option>
	      <option value="Grocery">Grocery</option>
	      <option value="FashionBoys">FashionBoys</option>
	      <option value="Industrial">Industrial</option>
	      <option value="PetSupplies">PetSupplies</option>
	      <option value="OfficeProducts">OfficeProducts</option>
	      <option value="Magazines">Magazines</option>
	      <option value="Watches">Watches</option>
	      <option value="OutdoorLiving">OutdoorLiving</option>
	      <option value="Toys">Toys</option>
	      <option value="SportingGoods">SportingGoods</option>
	      <option value="PCHardware">PCHardware</option>
	      <option value="Movies">Movies</option>
	      <option value="Books">Books</option>
	      <option value="Collectibles">Collectibles</option>
	      <option value="Handmade">Handmade</option>
	      <option value="Fashion">Fashion</option>
	      <option value="Baby">Baby</option>
	      <option value="Appliances">Appliances</option>
	      <option value="WirelessAccessories">WirelessAccessories</option>
	      <option value="HealthPersonalCare">HealthPersonalCare</option>
	    </select>
	  </fieldset>
	  <input name="action"
		 type="submit"
		 value="Search Items">
	</form>
	<form class="item-lookup-form" action="#" method="post" data-action="animated">
	  <fieldset>
	    <legend>Item Lookup Form based on Item Unique ASIN #</legend>
	    <label for="asin-num">Unique ASIN #</label>
	    <input id="asin-num"
		   type="text"
		   name="asin-num"
		   placeholder="e.g. B00UD6EXIQ" required>
	  </fieldset>
	  <input name="action"
		 type="submit"
		 value="Lookup Item">
	</form>
      </div>
    </DIV>
    {% if message is not none %}
    <div class="error_message">
      <p>{{ message }}</p>
    </div>
    {% endif %}
  </DIV>
</MAIN>
{% endblock %}
