<!DOCTYPE html>
<HTML lang="en">
  <HEAD>

    <!-- HEAD -->

    <META charset="utf-8">
    <META name="viewport" content="width=device-width">
    <title>Amazon Product Advertising API</title>

    <!-- FAVICON -->

    <LINK
      rel="shortcut icon"
      href="static/images/icon.jpg?{{ cache_id }}">

    <!-- IMPORT JQUERY -->

    <SCRIPT src="static/scripts/jquery-3.2.1.min.js"></SCRIPT>

    <!-- JAVASCRIPT FILES -->

    <SCRIPT src="static/scripts/search-form.js?{{ cache_id }}"></SCRIPT>

    <!-- **********************
	 CSS styles
	 ********************** -->

    <LINK
      rel="stylesheet"
      href="static/styles/common.css?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="static/styles/header.css?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="static/styles/footer.css?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="static/styles/filters.css?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="static/styles/results.css?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="static/styles/search-form.css?{{ cache_id }}">
    <LINK
      rel="stylesheet"
      href="static/styles/font-awesome.css?{{ cache_id }}">
  </HEAD>

  <!-- **********************
       BODY
       ********************** -->

  <BODY>

    <!-- **********************
	 HEADER
	 ********************** -->

    <HEADER>
    </HEADER>

    <!-- BLOCK CONTETN -->

    {% block content %}
    {% endblock %}

    <!-- FOOTER -->

    <footer>
      David John Coleman II, <a href="http://www.davidjohncoleman.com/"
				target="_blank">davidjohncoleman.com</a>
      | <a href="https://github.com/johncoleman83/amazon-api"
	 target="_blank">Source Code and Disclaimer</a>
    </footer>
  </BODY>
</HTML>
