@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Places
 */

.container .results {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    z-index: 1;
}

.container .results article {
    box-shadow: 0 0 4px 1px #cccccc;
    width: 425px;
    padding: 20px 20px;
    margin: 20px 20px;
    border: 1px solid #b9b9b7;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff;
}

/**
 * ------ HEADERS
 */
.container .results h1 {
    width: 100%;
    font-size: 30px;
    margin: 20px 0 0 10px;
    color: #fff;
}

.container .results .title {
    display: flex;
    flex-direction: row;
}

.container .results h2 {
    font-size: 30px;
    flex-grow: 1;
    margin: 5px 0 5px 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
}
