# systemd config file
# reload daemon: $ sudo systemctl daemon-reload
# start service: $ sudo systemctl start amazon.service

[Unit]
Description=gunicorn application server running amazon API Demo

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/github.com/johncoleman83/amazon-api
ExecStart=/usr/local/bin/gunicorn --bind 127.0.0.1:8002 wsgi.wsgi_amazon:amazon.app
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
